/* CSS HEX COLOR */


--fuchsia-pink: #b64cad;
--scampi: #5d599b;
--ebony: #07050b;
--spindle: #c5d8f0;
--ship-cove: #738dbf;
--bossanova: #562057;
--port-gore: #282856;
--tamarind: #2b122a;
--san-juan: #364675;
